In [12]:
import pandas as pd

import os 
from dotenv import load_dotenv
load_dotenv()
postgres_user= os.getenv("POSTGRES_USER")
postgres_key= os.getenv("POSTGRES_KEY")
import psycopg2

In [ ]:
df = pd.read_parquet("../SALES_ANALYTIC/data_transformation/dataset_cleaned.parquet")

In [5]:
df.rename({'invoice/item_number':'invoice'},axis= 1, inplace= True)

In [6]:
create_category= ''' CREATE TABLE "Category"(
                        "id" INT NOT null PRIMARY KEY,
                        "name" VARCHAR(100))'''

create_vendor=''' CREATE TABLE "Vendor"(
                        "id" INT NOT null PRIMARY KEY,
                        "name" VARCHAR(100))'''

create_county=''' CREATE TABLE "Conty"(
                        "id" INT NOT null PRIMARY KEY,
                        "name" VARCHAR(100))'''

create_store=''' CREATE TABLE "Store"(
                        "id" INT NOT null PRIMARY KEY,
                        "name" VARCHAR(100))'''

create_city=''' CREATE TABLE "City"(
                        "id" INT NOT null PRIMARY KEY,
                        "name" VARCHAR(100))'''

create_item=''' CREATE TABLE "Item"(
                        "id" INT NOT null PRIMARY KEY,
                        "name" VARCHAR(100)),
                        "id_category" INT,
                        CONSTRAINT "fk_category"
                            FOREIGN KEY ("id_category")
                            REFERENCE "Category"("id")
                            '''

create_location=''' CREATE TABLE "LOCATION"(
                        "id" INT NOT null PRIMARY KEY,
                        "id_store" INT,
                        CONSTRAINT "fk_store"
                            FOREIGN KEY ("id_store")
                            REFERENCE "Store"("id"),
                        "id_addres" INT,
                        CONSTRAINT "fk_address"
                            FOREIGN KEY ("id_address")
                            REFERENCE "Address"("id"),
                        "id_city" INT,
                        CONSTRAINT "fk_city"
                            FOREIGN KEY ("id_city")
                            REFERENCE "City"("id"),
                        "zip_code" INT,
                        "latitude" NUMERICAL,
                        "longitude" NUMERICAL
                            '''


create_invoice=''' CREATE TABLE "INVOICE"(
                        "id" INT NOT null PRIMARY KEY,
                        "invoice" VARCHAR (100),
                        "id_location" INT,
                        CONSTRAINT "fk_location"
                            FOREIGN KEY ("id_location")
                            REFERENCE "Location"("id"),
                        "date" timestamp,
                        "id_item" INT,
                        CONSTRAINT "fk_item"
                            FOREIGN KEY ("id_item")
                            REFERENCE "Item"("id"),
                        "pack" INT,
                        "bottle_volume(ml)" INT,
                        "state_bottle_cost" NUMERICAL,
                        "state_bottle_retail" NUMERICAL,
                        "bottles_sold" INT,
                        "sale(dollars)" NUMERICAL,
                        "volume_sold(ml)" NUMERICAL,
                        "id_vendor" INT,
                        CONSTRAINT "fk_vendor"
                            FOREIGN KEY ("id_vendor")
                            REFERENCE "Vendor"("id"),
                        "id_county" INT,
                        CONSTRAINT "fk_county"
                            FOREIGN KEY ("id_county")
                            REFERENCE "County"("id")
                            '''

In [ ]:
conn= psycopg2.connect(host='localhost',database= 'liquor_oiwa',
                       user= 'postgres_user',
                       password= 'postgres_key'
                       )

conn.autocommit= True
cursor=conn.cursor()
cursor.close()