DATA PRE-ANALYSIS AND DATA CLEANSING TEST

In [4]:
#Do not restart the thermal
%load_ext autoreload
%autoreload 2
#IMPORT LIBRARY
import pandas as pd
import numpy as np 
import ast
import sys
#sys.path.append('../')
#from src import limpieza as sl
# set options, show all the columns
pd. set_option("display.max_columns", None)

In [5]:
#Read file

df_raw= pd.read_parquet("../data_raw//iowa_liquor_sales_2019.parquet")

In [6]:
df_raw.head()

,Invoice/Item Number,Date,Store Number,Store Name,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Gallons)
102,S08792800017,11/06/2019,2459,Reinhart Foods,200 STATE PO BOX 98\nGUTHRIE CENTER 50115\n,39.0,Guthrie,1062300.0,FLAVORED RUM,65.0,Jim Beam Brands,44499,Cruzan Mango Rum,12,750,$6.82,$10.24,3,$30.72,0.59
103,S04854100048,04/03/2019,2487,Anamosa Family Foods,"402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91....",53.0,Jones,1081300.0,PEPPERMINT SCHNAPPS,434.0,Luxco-St Louis,80578,Arrow Peppermint Schnapps,6,1750,$7.04,$10.56,3,$31.68,1.39
106,S08900500035,11/13/2019,4509,A J'S LIQUOR II,"2515 CHAMBERLAIN\nAMES 50010\n(42.02146, -93.6...",85.0,Story,1081900.0,MISC. AMERICAN CORDIALS & LIQUEURS,322.0,Prestige Wine and Spirits Group,75210,Kinky Liqueur,6,750,$10.00,$15.00,12,$180.00,2.38
110,S06855800032,07/31/2019,2522,Hy-Vee Wine and Spirits / Spirit Lak,HWY 9 &amp; 71\nSPIRIT LAKE 51360\n,30.0,Dickinson,1062200.0,PUERTO RICO & VIRGIN ISLANDS RUM,35.0,"Bacardi U.S.A., Inc.",43125,Bacardi Superior Rum Pet,12,750,$7.53,$11.30,12,$135.60,2.38
113,S08372100023,10/16/2019,3816,Swils,"200 E OAK ST\nRED OAK 51566\n(41.016691, -95.2...",69.0,Montgomery,1031200.0,VODKA FLAVORED,380.0,Phillips Beverage Company,41693,Uv Blue (raspberry) Vodka,12,750,$6.25,$9.49,12,$113.88,2.38

returns a tuple that describes the dimensions of the DataFrame

In [7]:
df_raw.shape

(2073616, 20)

copy

In [8]:
# copy
df=df_raw.copy()

In [9]:
# convert the name of the columns into snake_case
df.columns= df.columns.str.replace(" ", "_").str.lower().str.replace("_(", "(")
df.sample()

,invoice/item_number,date,store_number,store_name,store_location,county_number,county,category,category_name,vendor_number,vendor_name,item_number,item_description,pack,bottle_volume(ml),state_bottle_cost,state_bottle_retail,bottles_sold,sale(dollars),volume_sold(gallons)
5967536,S07844800079,09/19/2019,2594,Hy-Vee Food Store / Sioux City,4500 SERGEANT ROAD\nSIOUX CITY 51106\n(42.4480...,97.0,Woodbury,1081390.0,IMPORTED SCHNAPPS,260.0,Diageo Americas,65066,Goldschlager Cinnamon Schnapps,12,750,$12.50,$18.74,1,$18.74,0.2

Look at the column category.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2073616 entries, 102 to 8197504
Data columns (total 20 columns):
 #   Column                Dtype
---  ------                -----
 0   invoice/item_number   object
 1   date                  object
 2   store_number          int64
 3   store_name            object
 4   store_location        object
 5   county_number         float64
 6   county                object
 7   category              float64
 8   category_name         object
 9   vendor_number         float64
 10  vendor_name           object
 11  item_number           int64
 12  item_description      object
 13  pack                  int64
 14  bottle_volume(ml)     int64
 15  state_bottle_cost     object
 16  state_bottle_retail   object
 17  bottles_sold          int64
 18  sale(dollars)         object
 19  volume_sold(gallons)  float64
dtypes: float64(4), int64(5), object(11)
memory usage: 332.2+ MB

Data Transformation

data columns

In [11]:
df["date"]= pd.to_datetime(df["date"],
                          format="%m/%d/%Y")

float to integer column

In [12]:
#changes name to the column category
df["category_number"]=df["category"]
df.drop(columns="category",
        inplace=True)

In [13]:
df["county_number"].unique()

array([39., 53., 85., 30., 69., 57., 82., 96., 77., 31., 78., 52.,  9.,
       64., 49., 29., 34., 48., 63., 75., 97., 22., 46., 91.,  7., 70.,
       94., 10., 11., 56., 17., 71., 23., 50., 14., 67., 37., 86., 88.,
       40., 59., 51., 33., nan, 38., 72., 16., 21., 42., 35.,  3., 47.,
       90., 24.,  4., 95.,  6., 55., 20., 99., 32.,  5., 81., 45., 62.,
       25., 83., 60., 54., 41., 18., 84., 92., 28., 93.,  1., 44., 13.,
       58., 66.,  8., 15., 76., 79., 74., 19., 43., 12.,  2., 61., 73.,
       80., 65., 68., 87., 27., 36., 98., 89., 26.])

In [14]:
df["vendor_number"].unique()

array([ 65., 434., 322.,  35., 380., 260., 370., 192.,  55.,  85., 297.,
       389., 115., 451., 305., 395., 255., 461., 330., 420., 259., 410.,
       421., 885., 300., 205., 308., 240., 306., 357., 971., 294., 130.,
       390., 969., 301., 125., 277., 375., 267., 384., 418., 394., 365.,
       190., 285., 184., 338., 350., 492., 391., 198., 469.,  86., 160.,
       460., 962., 377., 978., 483., 239., 977., 250., 497., 495., 346.,
       399.,  89.,  10., 459., 295., 293., 154., 298., 158.,  91., 465.,
       415., 503.,  79., 369., 363., 987., 143., 307., 185., 224., 109.,
       211., 310., 379., 477.,  90., 108., 313.,  61., 278., 501., 251.,
        80., 311., 482., 456., 137., 361., 475., 287., 488.,  27., 485.,
       803.,  68., 432., 263., 155.,  69., 343., 161., 486.,  51.])

I check that the values should be integral and not float. Transform into the column that we can that has no nulls.

In [15]:
#transform vendor_number because not have nulls
df["vendor_number"]= df["vendor_number"].astype(int)

In [16]:
df["vendor_number"].unique()

array([ 65, 434, 322,  35, 380, 260, 370, 192,  55,  85, 297, 389, 115,
       451, 305, 395, 255, 461, 330, 420, 259, 410, 421, 885, 300, 205,
       308, 240, 306, 357, 971, 294, 130, 390, 969, 301, 125, 277, 375,
       267, 384, 418, 394, 365, 190, 285, 184, 338, 350, 492, 391, 198,
       469,  86, 160, 460, 962, 377, 978, 483, 239, 977, 250, 497, 495,
       346, 399,  89,  10, 459, 295, 293, 154, 298, 158,  91, 465, 415,
       503,  79, 369, 363, 987, 143, 307, 185, 224, 109, 211, 310, 379,
       477,  90, 108, 313,  61, 278, 501, 251,  80, 311, 482, 456, 137,
       361, 475, 287, 488,  27, 485, 803,  68, 432, 263, 155,  69, 343,
       161, 486,  51])

Transform Price Values

    -state_bottle_cost 
    -state_bottle_retail
    -sale(dollars)

In [17]:
def dollars_float(dataframe,col):
    dataframe[col]= dataframe[col].str.replace("$","").astype(float)
    return dataframe

In [18]:
list_col= ["state_bottle_cost", "state_bottle_retail","sale(dollars)"]
for col in list_col:
    dollars_float(df, col)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2073616 entries, 102 to 8197504
Data columns (total 20 columns):
 #   Column                Dtype
---  ------                -----
 0   invoice/item_number   object
 1   date                  datetime64[ns]
 2   store_number          int64
 3   store_name            object
 4   store_location        object
 5   county_number         float64
 6   county                object
 7   category_name         object
 8   vendor_number         int64
 9   vendor_name           object
 10  item_number           int64
 11  item_description      object
 12  pack                  int64
 13  bottle_volume(ml)     int64
 14  state_bottle_cost     float64
 15  state_bottle_retail   float64
 16  bottles_sold          int64
 17  sale(dollars)         float64
 18  volume_sold(gallons)  float64
 19  category_number       float64
dtypes: datetime64[ns](1), float64(6), int64(6), object(7)
memory usage: 332.2+ MB

Column decomposition store_location

In [20]:
value_store_location= df["store_location"].iloc[1]
value_store_location

'402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91.281881)'

In [21]:
#create list of value
value_list= value_store_location.split("\n")
value_list

['402 EAST MAIN', 'ANAMOSA 52205', '(42.108289, -91.281881)']

In [22]:
address= value_list[0]
address

'402 EAST MAIN'

In [23]:
poscode=value_list[1].split()[-1]
poscode

'52205'

In [24]:
latitude_longitude= value_list[-1]
latitude_longitude

'(42.108289, -91.281881)'

In [25]:
type(ast.literal_eval(latitude_longitude))

tuple

In [26]:
latitude_longitude= ast.literal_eval(value_list[2])

In [27]:
address= value_store_location.split("\n")[0]
city= value_store_location.split("\n")[1].split (" ")
Latitude= float(value_store_location.split("\n")[2].strip("()").split(",")[0])
longitude= float(value_store_location.split("\n")[2].strip("()").split(", ")[1])

designed to extract address, city, latitude, and longitude from a string value.

In [28]:
#def extract_location(value):
   # try:
       # split_data=value.split("\n")
       # address = split_data[0] if len (split_data) > 0 else None
       # city= " ".join(split_data[1].split()[:-1]) if len (split_data)> 1 else None
        #poscode= split_data [1].split()[-1] if len (split_data)> 1 else None
        #if len (split_data)> 2:
           # try:
                #latitude, longitude= ast.literal_eval(value_list[2])
            #except(SyntaxError, ValueError,TypeError):
                # latitude, longitude = None, None
        #else: 
           #latitude, longitude = None, None
        #return pd.Series([address,
                       # city,
                       # poscode, 
                       # latitude,
                        #longitude])
   # except (IndexError,ValueError):
       # return pd.Series([None,None,None,None,None])

def extract_location(value):
    try:
        split_data = value.split("\n")
        print(f"Raw split_data: {split_data}")  # Debug print

        address = split_data[0] if len(split_data) > 0 else None
        city = " ".join(split_data[1].split()[:-1]) if len(split_data) > 1 else None
        poscode = split_data[1].split()[-1] if len(split_data) > 1 else None
        
        if len(split_data) > 2:
            try:
                print(f"Trying to parse coords: {split_data[2]}")  # Debug print
                latitude, longitude = ast.literal_eval(split_data[2])
            except (SyntaxError, ValueError, TypeError):
                latitude, longitude = None, None
        else:
            latitude, longitude = None, None

        return pd.Series([address, city, poscode, latitude, longitude])
    except (IndexError, ValueError):
        return pd.Series([None, None, None, None, None])

def extract_location(df):
    if not isinstance(df, str):
        return pd.Series([None, None, None, None, None])
    
    try:
        split_data = df.split("\n")
        address = split_data[0] if len(split_data) > 0 else None
        city = " ".join(split_data[1].split()[:-1]) if len(split_data) > 1 else None
        poscode = split_data[1].split()[-1] if len(split_data) > 1 else None
        
        if len(split_data) > 2:
            try:
                latitude, longitude = ast.literal_eval(split_data[2])
            except (SyntaxError, ValueError, TypeError):
                latitude, longitude = None, None
        else:
            latitude, longitude = None, None

        return pd.Series([address, city, poscode, latitude, longitude])
    except (IndexError, ValueError):
        return pd.Series([None, None, None, None, None])

# Aplica la función correctamente
df[["address", "city", "poscode", "Latitude", "longitude"]] = df["store_location"].apply(extract_location)

def extract_location(df):
    try:
        split_data = df.split("\n")
        print(f"Raw split_data: {split_data}")  # Debug print para verificar el split

        address = split_data[0] if len(split_data) > 0 else None
        city = " ".join(split_data[1].split()[:-1]) if len(split_data) > 1 else None
        poscode = split_data[1].split()[-1] if len(split_data) > 1 else None
        
        if len(split_data) > 2:
            try:
                coord_str = split_data[2].strip()  # Eliminar posibles espacios antes y después
                print(f"Trying to parse coords: {coord_str}")  # Debug print de las coordenadas
                
                # Comprobar si el formato de las coordenadas es correcto
                if coord_str.startswith('(') and coord_str.endswith(')'):
                    # Eliminar paréntesis y separar por coma
                    coord_str = coord_str[1:-1]
                    latitude, longitude = coord_str.split(', ')
                    
                    # Convertir a flotante
                    latitude = float(latitude)
                    longitude = float(longitude)
                else:
                    # Si no tiene el formato esperado, devuelve None
                    latitude, longitude = None, None
            except (SyntaxError, ValueError, TypeError) as e:
                print(f"Error al intentar parsear las coordenadas: {e}")
                latitude, longitude = None, None
        else:
            latitude, longitude = None, None

        return pd.Series([address, city, poscode, latitude, longitude])

    except (IndexError, ValueError) as e:
        print(f"Error al procesar la entrada: {e}")
        return pd.Series([None, None, None, None, None])

df[["address",
    "city",
    "poscode",
    "Latitude",
    "longitude"]]= df["store_location"].apply(extract_location)

In [29]:
def extract_location(value):
    try:
        split_data = value.split("\n")

        address = split_data[0] if len(split_data) > 0 else None
        city = " ".join(split_data[1].split()[:-1]) if len(split_data) > 1 else None
        poscode = split_data[1].split()[-1] if len(split_data) > 1 else None
        
        if len(split_data) > 2:
            try:
                coord_str = split_data[2].strip()
                if coord_str.startswith('(') and coord_str.endswith(')'):
                    coord_str = coord_str[1:-1]
                    latitude, longitude = coord_str.split(', ')
                    latitude = float(latitude)
                    longitude = float(longitude)
                else:
                    latitude, longitude = None, None
            except:
                latitude, longitude = None, None
        else:
            latitude, longitude = None, None

        return pd.Series([address, city, poscode, latitude, longitude])

    except:
        return pd.Series([None, None, None, None, None])

# Trabaja con un subconjunto pequeño del DataFrame para probar
df_subset = df.head(100)  # Solo las primeras 100 filas
df_subset[["address", "city", "poscode", "Latitude", "longitude"]] = df_subset["store_location"].apply(extract_location)
print(df_subset.head())

    invoice/item_number       date  store_number  \
102        S08792800017 2019-11-06          2459
103        S04854100048 2019-04-03          2487
106        S08900500035 2019-11-13          4509
110        S06855800032 2019-07-31          2522
113        S08372100023 2019-10-16          3816

                               store_name  \
102                        Reinhart Foods
103                  Anamosa Family Foods
106                       A J'S LIQUOR II
110  Hy-Vee Wine and Spirits / Spirit Lak
113                                 Swils

                                        store_location  county_number  \
102        200 STATE PO BOX 98\nGUTHRIE CENTER 50115\n           39.0
103  402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91....           53.0
106  2515 CHAMBERLAIN\nAMES 50010\n(42.02146, -93.6...           85.0
110                HWY 9 &amp; 71\nSPIRIT LAKE 51360\n           30.0
113  200 E OAK ST\nRED OAK 51566\n(41.016691, -95.2...           69.0

         county                       category_name  vendor_number  \
102     Guthrie                        FLAVORED RUM             65
103       Jones                 PEPPERMINT SCHNAPPS            434
106       Story  MISC. AMERICAN CORDIALS & LIQUEURS            322
110   Dickinson    PUERTO RICO & VIRGIN ISLANDS RUM             35
113  Montgomery                      VODKA FLAVORED            380

                         vendor_name  item_number           item_description  \
102                  Jim Beam Brands        44499           Cruzan Mango Rum
103                   Luxco-St Louis        80578  Arrow Peppermint Schnapps
106  Prestige Wine and Spirits Group        75210              Kinky Liqueur
110             Bacardi U.S.A., Inc.        43125   Bacardi Superior Rum Pet
113        Phillips Beverage Company        41693  Uv Blue (raspberry) Vodka

     pack  bottle_volume(ml)  state_bottle_cost  state_bottle_retail  \
102    12                750               6.82                10.24
103     6               1750               7.04                10.56
106     6                750              10.00                15.00
110    12                750               7.53                11.30
113    12                750               6.25                 9.49

     bottles_sold  sale(dollars)  volume_sold(gallons)  category_number  \
102             3          30.72                  0.59        1062300.0
103             3          31.68                  1.39        1081300.0
106            12         180.00                  2.38        1081900.0
110            12         135.60                  2.38        1062200.0
113            12         113.88                  2.38        1031200.0

                 address            city poscode   Latitude  longitude
102  200 STATE PO BOX 98  GUTHRIE CENTER   50115        NaN        NaN
103        402 EAST MAIN         ANAMOSA   52205  42.108289 -91.281881
106     2515 CHAMBERLAIN            AMES   50010  42.021460 -93.650965
110       HWY 9 &amp; 71     SPIRIT LAKE   51360        NaN        NaN
113         200 E OAK ST         RED OAK   51566  41.016691 -95.230032

C:\Users\ivanc\AppData\Local\Temp\ipykernel_22524\686676282.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset[["address", "city", "poscode", "Latitude", "longitude"]] = df_subset["store_location"].apply(extract_location)
C:\Users\ivanc\AppData\Local\Temp\ipykernel_22524\686676282.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset[["address", "city", "poscode", "Latitude", "longitude"]] = df_subset["store_location"].apply(extract_location)
C:\Users\ivanc\AppData\Local\Temp\ipykernel_22524\686676282.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset[["address", "city", "poscode", "Latitude", "longitude"]] = df_subset["store_location"].apply(extract_location)
C:\Users\ivanc\AppData\Local\Temp\ipykernel_22524\686676282.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset[["address", "city", "poscode", "Latitude", "longitude"]] = df_subset["store_location"].apply(extract_location)
C:\Users\ivanc\AppData\Local\Temp\ipykernel_22524\686676282.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset[["address", "city", "poscode", "Latitude", "longitude"]] = df_subset["store_location"].apply(extract_location)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2073616 entries, 102 to 8197504
Data columns (total 20 columns):
 #   Column                Dtype
---  ------                -----
 0   invoice/item_number   object
 1   date                  datetime64[ns]
 2   store_number          int64
 3   store_name            object
 4   store_location        object
 5   county_number         float64
 6   county                object
 7   category_name         object
 8   vendor_number         int64
 9   vendor_name           object
 10  item_number           int64
 11  item_description      object
 12  pack                  int64
 13  bottle_volume(ml)     int64
 14  state_bottle_cost     float64
 15  state_bottle_retail   float64
 16  bottles_sold          int64
 17  sale(dollars)         float64
 18  volume_sold(gallons)  float64
 19  category_number       float64
dtypes: datetime64[ns](1), float64(6), int64(6), object(7)
memory usage: 332.2+ MB

STORE_NAME CLEAR

In [31]:
store_name= df["store_name"].iloc[3]
store_name

'Hy-Vee Wine and Spirits / Spirit Lak'

In [32]:
clean_name= store_name.split("/")[0]
clean_name

'Hy-Vee Wine and Spirits '

In [33]:
def clean_store_name(value):
    if "/" in value:
        return value.split("/")[0].strip()
    return value

In [34]:
df["store_name"]= df["store_name"].apply(clean_store_name)
df.head()

,invoice/item_number,date,store_number,store_name,store_location,county_number,county,category_name,vendor_number,vendor_name,item_number,item_description,pack,bottle_volume(ml),state_bottle_cost,state_bottle_retail,bottles_sold,sale(dollars),volume_sold(gallons),category_number
102,S08792800017,2019-11-06,2459,Reinhart Foods,200 STATE PO BOX 98\nGUTHRIE CENTER 50115\n,39.0,Guthrie,FLAVORED RUM,65,Jim Beam Brands,44499,Cruzan Mango Rum,12,750,6.82,10.24,3,30.72,0.59,1062300.0
103,S04854100048,2019-04-03,2487,Anamosa Family Foods,"402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91....",53.0,Jones,PEPPERMINT SCHNAPPS,434,Luxco-St Louis,80578,Arrow Peppermint Schnapps,6,1750,7.04,10.56,3,31.68,1.39,1081300.0
106,S08900500035,2019-11-13,4509,A J'S LIQUOR II,"2515 CHAMBERLAIN\nAMES 50010\n(42.02146, -93.6...",85.0,Story,MISC. AMERICAN CORDIALS & LIQUEURS,322,Prestige Wine and Spirits Group,75210,Kinky Liqueur,6,750,10.00,15.00,12,180.00,2.38,1081900.0
110,S06855800032,2019-07-31,2522,Hy-Vee Wine and Spirits,HWY 9 &amp; 71\nSPIRIT LAKE 51360\n,30.0,Dickinson,PUERTO RICO & VIRGIN ISLANDS RUM,35,"Bacardi U.S.A., Inc.",43125,Bacardi Superior Rum Pet,12,750,7.53,11.30,12,135.60,2.38,1062200.0
113,S08372100023,2019-10-16,3816,Swils,"200 E OAK ST\nRED OAK 51566\n(41.016691, -95.2...",69.0,Montgomery,VODKA FLAVORED,380,Phillips Beverage Company,41693,Uv Blue (raspberry) Vodka,12,750,6.25,9.49,12,113.88,2.38,1031200.0

In [35]:
df.head()

,invoice/item_number,date,store_number,store_name,store_location,county_number,county,category_name,vendor_number,vendor_name,item_number,item_description,pack,bottle_volume(ml),state_bottle_cost,state_bottle_retail,bottles_sold,sale(dollars),volume_sold(gallons),category_number
102,S08792800017,2019-11-06,2459,Reinhart Foods,200 STATE PO BOX 98\nGUTHRIE CENTER 50115\n,39.0,Guthrie,FLAVORED RUM,65,Jim Beam Brands,44499,Cruzan Mango Rum,12,750,6.82,10.24,3,30.72,0.59,1062300.0
103,S04854100048,2019-04-03,2487,Anamosa Family Foods,"402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91....",53.0,Jones,PEPPERMINT SCHNAPPS,434,Luxco-St Louis,80578,Arrow Peppermint Schnapps,6,1750,7.04,10.56,3,31.68,1.39,1081300.0
106,S08900500035,2019-11-13,4509,A J'S LIQUOR II,"2515 CHAMBERLAIN\nAMES 50010\n(42.02146, -93.6...",85.0,Story,MISC. AMERICAN CORDIALS & LIQUEURS,322,Prestige Wine and Spirits Group,75210,Kinky Liqueur,6,750,10.00,15.00,12,180.00,2.38,1081900.0
110,S06855800032,2019-07-31,2522,Hy-Vee Wine and Spirits,HWY 9 &amp; 71\nSPIRIT LAKE 51360\n,30.0,Dickinson,PUERTO RICO & VIRGIN ISLANDS RUM,35,"Bacardi U.S.A., Inc.",43125,Bacardi Superior Rum Pet,12,750,7.53,11.30,12,135.60,2.38,1062200.0
113,S08372100023,2019-10-16,3816,Swils,"200 E OAK ST\nRED OAK 51566\n(41.016691, -95.2...",69.0,Montgomery,VODKA FLAVORED,380,Phillips Beverage Company,41693,Uv Blue (raspberry) Vodka,12,750,6.25,9.49,12,113.88,2.38,1031200.0

Normalise volume columns

In [36]:
df.columns

Index(['invoice/item_number', 'date', 'store_number', 'store_name',
       'store_location', 'county_number', 'county', 'category_name',
       'vendor_number', 'vendor_name', 'item_number', 'item_description',
       'pack', 'bottle_volume(ml)', 'state_bottle_cost', 'state_bottle_retail',
       'bottles_sold', 'sale(dollars)', 'volume_sold(gallons)',
       'category_number'],
      dtype='object')

In [37]:
df["volume_sold(ml)"]= df["volume_sold(gallons)"]*3785.41

Null analysis

In [38]:
def null_values(dataframe):
    count_null= dataframe.isnull().sum()
    percent_null= (count_null/dataframe.shape[0])*100
    df_null=pd.DataFrame({
        "Null values": count_null,
        "Null percen": percent_null

    }
    )
    return df_null

In [39]:
df_null= null_values(df)
df_null

                      Null values  Null percen
invoice/item_number             0     0.000000
date                            0     0.000000
store_number                    0     0.000000
store_name                      0     0.000000
store_location                  0     0.000000
county_number                3599     0.173562
county                       3599     0.173562
category_name                 818     0.039448
vendor_number                   0     0.000000
vendor_name                     0     0.000000
item_number                     0     0.000000
item_description                0     0.000000
pack                            0     0.000000
bottle_volume(ml)               0     0.000000
state_bottle_cost              10     0.000482
state_bottle_retail            10     0.000482
bottles_sold                    0     0.000000
sale(dollars)                  10     0.000482
volume_sold(gallons)            0     0.000000
category_number               284     0.013696
volume_sold(ml)                 0     0.000000

COUNTRY NULLS

In [40]:
df_nulls_coutry= df[df["county"].isna()].copy()
df_nulls_coutry.head()

,invoice/item_number,date,store_number,store_name,store_location,county_number,county,category_name,vendor_number,vendor_name,item_number,item_description,pack,bottle_volume(ml),state_bottle_cost,state_bottle_retail,bottles_sold,sale(dollars),volume_sold(gallons),category_number,volume_sold(ml)
692,S09377500017,2019-12-10,3782,Bender Foods,"619 S HWY 52\nGUTTENBERG 52052\n(42.77964, -91...",NaN,None,GREEN CREME DE MENTHE,434,Luxco-St Louis,79026,Arrow Creme De Menthe Green,12,750,4.50,6.75,3,20.25,0.59,1081240.0,2233.3919
7072,S07061900003,2019-08-13,3782,Bender Foods,"619 S HWY 52\nGUTTENBERG 52052\n(42.77964, -91...",NaN,None,STRAIGHT BOURBON WHISKIES,65,Jim Beam Brands,20248,Old Crow,6,1750,8.92,13.38,6,80.28,2.77,1011200.0,10485.5857
7129,S03833700020,2019-01-31,4247,Fareway Stores #879,"115 SECOND AVE SE\nBELMOND 50421\n(42.845719, ...",NaN,None,MISC. IMPORTED CORDIALS & LIQUEURS,192,Sidney Frank Importing Co.,65258,Jagermeister Liqueur,6,1750,25.69,38.53,1,38.53,0.46,1082900.0,1741.2886
7622,S05836300021,2019-06-04,4247,Fareway Stores #879,"115 SECOND AVE SE\nBELMOND 50421\n(42.845719, ...",NaN,None,CANADIAN WHISKIES,971,"Hood River Distillers, Inc.",14192,Pendleton Canadian Whisky,12,750,13.10,19.65,1,19.65,0.20,1012100.0,757.0820
13146,S09257900003,2019-12-03,3782,Bender Foods,"619 S HWY 52\nGUTTENBERG 52052\n(42.77964, -91...",NaN,None,CANADIAN WHISKIES,115,"Constellation Wine Company, Inc.",11776,Black Velvet,12,750,5.23,7.84,12,94.08,2.38,1012100.0,9009.2758

In [41]:
df_nulls_coutry["city"].unique()

KeyError: 'city'

In [42]:
value_city, value_county, county_number = df_nulls_coutry[["city","county","county_number"]].iloc[0]
value_city

KeyError: "['city'] not in index"

In [43]:
if value_city== "GUTTENBERG":
    value_county="Clayton"
    county_number= 99
elif value_city== "BELMOND":
    value_county= "Wright"
    county_number=22

NameError: name 'value_city' is not defined

In [ ]:
value_county
county_number

99

 in the null values of count and country_number, we are only missing the values of two specific cities: GUTTNBER, BELMOND AND THAT BELONGS TO CLAYTON (the number is 22) AND WRIGHT (the number is 99)

In [ ]:
df["county"].unique()

array(['Guthrie', 'Jones', 'Story', 'Dickinson', 'Montgomery', 'Linn',
       'Scott', 'Winneshiek', 'Polk', 'Dubuque', 'Pottawattamie',
       'Johnson', 'Bremer', 'Marshall', 'Jackson', 'Des Moines', 'Floyd',
       'Iowa', 'Marion', 'Plymouth', 'Woodbury', 'Clayton', 'Humboldt',
       'Warren', 'Black Hawk', 'Muscatine', 'Webster', 'Buchanan',
       'Buena Vista', 'Lee', 'Cerro Gordo', "O'Brien", 'Clinton',
       'Jasper', 'Carroll', 'Monona', 'Greene', 'Tama', 'Union',
       'Hamilton', 'Lucas', 'Jefferson', 'Fayette', None, 'Grundy',
       'Osceola', 'Cedar', 'Clay', 'Hardin', 'Franklin', 'Allamakee',
       'Ida', 'Wapello', 'Crawford', 'Appanoose', 'Winnebago', 'Benton',
       'Kossuth', 'Clarke', 'Wright', 'Emmet', 'Audubon', 'Sac', 'Howard',
       'Mahaska', 'Dallas', 'Shelby', 'Lyon', 'Keokuk', 'Hancock',
       'Cherokee', 'Sioux', 'Washington', 'Delaware', 'Wayne', 'Adair',
       'Henry', 'Calhoun', 'Louisa', 'Mitchell', 'Boone', 'Cass',
       'Pocahontas', 'Poweshiek', 'Palo Alto', 'Chickasaw', 'Harrison',
       'Butler', 'Adams', 'Madison', 'Page', 'Ringgold', 'Mills',
       'Monroe', 'Taylor', 'Decatur', 'Fremont', 'Worth', 'Van Buren',
       'Davis'], dtype=object)

In [ ]:
dict_gutt= {"city": "GUTTENBERG",
              "county":"Clayton",
              "county_number" :22}
dict_bel={"value_city": "BELMOND",
          "county" :"Wright",
          "county_number":99}

In [ ]:
city_to_country= {"GUTTENBERG":"Clayton",
                  "BELMOND":"Wright"}

In [ ]:
df["county"]= df["county"].fillna(df["city"].map(city_to_country))

In [ ]:
null_values(df)

                      Null values  Null percen
invoice/item_number             0     0.000000
date                            0     0.000000
store_number                    0     0.000000
store_name                      0     0.000000
store_location                  0     0.000000
county_number                3599     0.173562
county                          0     0.000000
category_name                 818     0.039448
vendor_number                   0     0.000000
vendor_name                     0     0.000000
item_number                     0     0.000000
item_description                0     0.000000
pack                            0     0.000000
bottle_volume(ml)               0     0.000000
state_bottle_cost              10     0.000482
state_bottle_retail            10     0.000482
bottles_sold                    0     0.000000
sale(dollars)                  10     0.000482
volume_sold(gallons)            0     0.000000
category_number               284     0.013696
address                         0     0.000000
city                            0     0.000000
poscode                         0     0.000000
Latitude                        0     0.000000
longitude                       0     0.000000
volume_sold(ml)                 0     0.000000

In [ ]:
county_number_name= df.set_index("county")["county_number"].to_dict()
county_number_name

{'Guthrie': 39.0,
 'Jones': 53.0,
 'Story': 85.0,
 'Dickinson': 30.0,
 'Montgomery': 69.0,
 'Linn': 57.0,
 'Scott': 82.0,
 'Winneshiek': 96.0,
 'Polk': 77.0,
 'Dubuque': 31.0,
 'Pottawattamie': 78.0,
 'Johnson': 52.0,
 'Bremer': 9.0,
 'Marshall': 64.0,
 'Jackson': 49.0,
 'Des Moines': 29.0,
 'Floyd': 34.0,
 'Iowa': 48.0,
 'Marion': 63.0,
 'Plymouth': 75.0,
 'Woodbury': 97.0,
 'Clayton': 22.0,
 'Humboldt': 46.0,
 'Warren': 91.0,
 'Black Hawk': 7.0,
 'Muscatine': 70.0,
 'Webster': 94.0,
 'Buchanan': 10.0,
 'Buena Vista': 11.0,
 'Lee': 56.0,
 'Cerro Gordo': 17.0,
 "O'Brien": 71.0,
 'Clinton': 23.0,
 'Jasper': 50.0,
 'Carroll': 14.0,
 'Monona': 67.0,
 'Greene': 37.0,
 'Tama': 86.0,
 'Union': 88.0,
 'Hamilton': 40.0,
 'Lucas': 59.0,
 'Jefferson': 51.0,
 'Fayette': 33.0,
 'Grundy': 38.0,
 'Osceola': 72.0,
 'Cedar': 16.0,
 'Clay': 21.0,
 'Hardin': 42.0,
 'Franklin': 35.0,
 'Allamakee': 3.0,
 'Ida': 47.0,
 'Wapello': 90.0,
 'Crawford': 24.0,
 'Appanoose': 4.0,
 'Winnebago': 95.0,
 'Benton': 6.0,
 'Kossuth': 55.0,
 'Clarke': 20.0,
 'Wright': 99.0,
 'Emmet': 32.0,
 'Audubon': 5.0,
 'Sac': 81.0,
 'Howard': 45.0,
 'Mahaska': 62.0,
 'Dallas': 25.0,
 'Shelby': 83.0,
 'Lyon': 60.0,
 'Keokuk': 54.0,
 'Hancock': 41.0,
 'Cherokee': 18.0,
 'Sioux': 84.0,
 'Washington': 92.0,
 'Delaware': 28.0,
 'Wayne': 93.0,
 'Adair': 1.0,
 'Henry': 44.0,
 'Calhoun': 13.0,
 'Louisa': 58.0,
 'Mitchell': 66.0,
 'Boone': 8.0,
 'Cass': 15.0,
 'Pocahontas': 76.0,
 'Poweshiek': 79.0,
 'Palo Alto': 74.0,
 'Chickasaw': 19.0,
 'Harrison': 43.0,
 'Butler': 12.0,
 'Adams': 2.0,
 'Madison': 61.0,
 'Page': 73.0,
 'Ringgold': 80.0,
 'Mills': 65.0,
 'Monroe': 68.0,
 'Taylor': 87.0,
 'Decatur': 27.0,
 'Fremont': 36.0,
 'Worth': 98.0,
 'Van Buren': 89.0,
 'Davis': 26.0}

In [ ]:
df["county_number"]= df["county_number"].fillna(df["county"].map(county_number_name))

In [ ]:
df.isnull().sum()

invoice/item_number       0
date                      0
store_number              0
store_name                0
store_location            0
county_number             0
county                    0
category_name           818
vendor_number             0
vendor_name               0
item_number               0
item_description          0
pack                      0
bottle_volume(ml)         0
state_bottle_cost        10
state_bottle_retail      10
bottles_sold              0
sale(dollars)            10
volume_sold(gallons)      0
category_number         284
address                   0
city                      0
poscode                   0
Latitude                  0
longitude                 0
volume_sold(ml)           0
dtype: int64

CATEGORY

In [ ]:
list_col= [ "category_number","category_name"]

In [ ]:
null_values(df)

                      Null values  Null percen
invoice/item_number             0     0.000000
date                            0     0.000000
store_number                    0     0.000000
store_name                      0     0.000000
store_location                  0     0.000000
county_number                   0     0.000000
county                          0     0.000000
category_name                 818     0.039448
vendor_number                   0     0.000000
vendor_name                     0     0.000000
item_number                     0     0.000000
item_description                0     0.000000
pack                            0     0.000000
bottle_volume(ml)               0     0.000000
state_bottle_cost              10     0.000482
state_bottle_retail            10     0.000482
bottles_sold                    0     0.000000
sale(dollars)                  10     0.000482
volume_sold(gallons)            0     0.000000
category_number               284     0.013696
address                         0     0.000000
city                            0     0.000000
poscode                         0     0.000000
Latitude                        0     0.000000
longitude                       0     0.000000
volume_sold(ml)                 0     0.000000

In [ ]:
dicc_category = dict(zip(df["category_number"], df["category_name"]))

In [ ]:
dicc_category = {k: v for k, v in zip(df["category_number"], df["category_name"]) if pd.notna(v)}
dicc_category

{1062300.0: 'FLAVORED RUM',
 1081300.0: 'PEPPERMINT SCHNAPPS',
 1081900.0: 'MISC. AMERICAN CORDIALS & LIQUEURS',
 1062200.0: 'PUERTO RICO & VIRGIN ISLANDS RUM',
 1031200.0: 'VODKA FLAVORED',
 1012100.0: 'CANADIAN WHISKIES',
 1042100.0: 'IMPORTED DRY GINS',
 1701100.0: 'DECANTERS & SPECIALTY PACKAGES',
 1011100.0: 'BLENDED WHISKIES',
 1041100.0: 'AMERICAN DRY GINS',
 1062310.0: 'SPICED RUM',
 1082900.0: 'MISC. IMPORTED CORDIALS & LIQUEURS',
 1032200.0: 'IMPORTED VODKA - MISC',
 1011200.0: 'STRAIGHT BOURBON WHISKIES',
 1032080.0: 'IMPORTED VODKA',
 1071100.0: 'AMERICAN COCKTAILS',
 1031080.0: 'VODKA 80 PROOF',
 1031100.0: '100 PROOF VODKA',
 1011300.0: 'TENNESSEE WHISKIES',
 1052010.0: 'IMPORTED GRAPE BRANDIES',
 1081600.0: 'WHISKEY LIQUEUR',
 1012200.0: 'SCOTCH WHISKIES',
 1101100.0: 'AMERICAN ALCOHOL',
 1081200.0: 'CREAM LIQUEURS',
 1051110.0: 'BLACKBERRY BRANDIES',
 1051100.0: 'APRICOT BRANDIES',
 1011500.0: 'STRAIGHT RYE WHISKIES',
 1022100.0: 'TEQUILA',
 1062050.0: 'BARBADOS RUM',
 1051010.0: 'AMERICAN GRAPE BRANDIES',
 1081370.0: 'WATERMELON SCHNAPPS',
 1051150.0: 'MISCELLANEOUS  BRANDIES',
 1081400.0: 'TRIPLE SEC',
 1081365.0: 'TROPICAL FRUIT SCHNAPPS',
 1081340.0: 'ROOT BEER SCHNAPPS',
 1081390.0: 'IMPORTED SCHNAPPS',
 1081330.0: 'PEACH SCHNAPPS',
 1081240.0: 'GREEN CREME DE MENTHE',
 1051120.0: 'CHERRY BRANDIES',
 1081315.0: 'CINNAMON SCHNAPPS',
 1012210.0: 'SINGLE MALT SCOTCH',
 1081015.0: 'IMPORTED AMARETTO',
 1081305.0: 'APPLE SCHNAPPS',
 1081317.0: 'GRAPE SCHNAPPS',
 1081312.0: 'BUTTERSCOTCH SCHNAPPS',
 1081350.0: 'SPEARMINT SCHNAPPS',
 1081335.0: 'RASPBERRY SCHNAPPS',
 1062100.0: 'JAMAICA RUM',
 1041150.0: 'FLAVORED GINS',
 1081030.0: 'COFFEE LIQUEURS',
 1081220.0: 'DARK CREME DE CACAO',
 1012300.0: 'IRISH WHISKIES',
 1081380.0: 'MISCELLANEOUS SCHNAPPS',
 1081500.0: 'ROCK & RYE',
 1081010.0: 'AMERICAN AMARETTO',
 1081355.0: 'STRAWBERRY SCHNAPPS',
 1081700.0: 'DISTILLED SPIRITS SPECIALTY',
 1031110.0: 'LOW PROOF VODKA',
 1011250.0: 'SINGLE BARREL BOURBON WHISKIES',
 1031090.0: 'OTHER PROOF VODKA',
 1081230.0: 'WHITE CREME DE CACAO',
 1041200.0: 'AMERICAN SLOE GINS',
 1081250.0: 'WHITE CREME DE MENTHE',
 1051140.0: 'PEACH BRANDIES',
 1011400.0: 'BOTTLED IN BOND BOURBON',
 1081210.0: 'CREME DE ALMOND',
 1081020.0: 'ANISETTE',
 1082010.0: 'AMARETTO - IMPORTED',
 1032230.0: 'IMPORTED VODKA - CHERRY',
 1082015.0: 'IMPORTED AMARETTO',
 1501100.0: 'HIGH PROOF BEER - AMERICAN',
 1082390.0: 'SCHNAPPS - IMPORTED'}

In [ ]:
def mapeo_data(col_number, col_name):
    try:
        new_value= dicc_category[col_number]
        col_name=new_value
        return col_name
    except: 
        np.nan

In [ ]:
df['category_name'] = df.apply(lambda x: mapeo_data(x.category_number, x.category_name), axis=1)

In [ ]:
df_null_cat= df [df["category_number"].isna()]
null_values(df_null_cat)

                      Null values  Null percen
invoice/item_number             0          0.0
date                            0          0.0
store_number                    0          0.0
store_name                      0          0.0
store_location                  0          0.0
county_number                   0          0.0
county                          0          0.0
category_name                 284        100.0
vendor_number                   0          0.0
vendor_name                     0          0.0
item_number                     0          0.0
item_description                0          0.0
pack                            0          0.0
bottle_volume(ml)               0          0.0
state_bottle_cost               0          0.0
state_bottle_retail             0          0.0
bottles_sold                    0          0.0
sale(dollars)                   0          0.0
volume_sold(gallons)            0          0.0
category_number               284        100.0
address                         0          0.0
city                            0          0.0
poscode                         0          0.0
Latitude                        0          0.0
longitude                       0          0.0
volume_sold(ml)                 0          0.0

save

In [ ]:
df.to_parquet("../data_transformation/categorical_and_numerical_analysis.parquet")